.all-content {
  height: 100vh;
  color: #333;
  background-color: #eaeef6;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.contact-info-logos {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.title-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
}

.lanugage-logo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0, .15);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.15);
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: black;
}

.skills-logos {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.icon,
.icon-logo {
  width: 40px;
  height: 40px;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.icon-logo {
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.05);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.05);
}

.header-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeef6;
  pointer-events: none;
}

.header-text-main,
.header-text {
  color: #413333;
  text-align: center;
  font-family: Space Grotesk, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 140%
}

.name {
  color: #4353ff;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #eaeef6;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: fit-content;
  transition: grid-template-columns 0.3s ease-in;
}

p {
  color: black;
}

.section-title {
  color: black;
}

.about-text {
  z-index: 1;
  line-height: 3vh;
}

.about-subtext {
  font-size: 40px;
  font: bold;
}

.back-btn {
  background-color: white;
  display: inline;
  width: 100%;
  height: 40px;
  border-radius: 32px;
}


@media (max-width: 768px) {
  .boxes {
    grid-template-columns: 1fr;
  }
}

.logo-container {
  min-height: 20vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-content: center;

}

.experience-text {
  border: 1px solid black;
  padding: 10px;
  border-radius: 32px;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.15);
}

/* animations */

.header-text-main {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* experience text colors */
.shopilot {
  border: 2px solid #769656;
}

.internshark {
  border: 2px solid #00008B
}

.apricity {
  border: 2px solid #423F3D
}

.ebacon {
  border: 2px solid #FFC1CC
}

.tamid {
  border: 2px solid #ADD8E6
}

.webstaurant {
  border: 2px solid #5CED73
}


@media only screen and (max-width: 754px) {

  .all-content {
    height: 160vh;
  }
}