.title-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
} 

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%
}

  .spotify-logo {
    width: 100px;
    height: 75px;
    position: relative;
    right: 35%;
    padding: 2rem;
  }

.album {
  width: 75px;
  height: 100px;
}

h2, h1 {
  color: #000;
}
